# Content

## 01 Importing libraries

## 02 Importing the datasets

## 03 Task 4.6

## Checking the shape of the imported dataframe

## Combining orders_products_combined dataframe with products dataset

## Using merge flag

## Export the new dataframe

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating a path
path = r'C:\Users\ketki\OneDrive\Desktop\Data Analytics bootcamp tasks\Data Immersion\Achievement 4 Python\Instacart Basket Analysis'

In [3]:
# import the 'orders_products_combined.pkl' dataset

df_ords_combined = pd.read_pickle((os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl')))

In [5]:
# import the 'products_cleaned.csv' dataset

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'))

In [11]:
#df_ords_combined.drop('Unnamed:0', inplace = True)

In [6]:
# check the shape of the imported dataframes

df_ords_combined.shape

(32434489, 12)

In [7]:
df_prods.shape

(49672, 6)

In [8]:
# Check the output

df_ords_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [24]:
#df_prods.drop(column = [Unnamed:0])

SyntaxError: invalid syntax (448205962.py, line 1)

In [15]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

Using product_id as the key to merge the two datasets

In [28]:
# Merging df_prods and df_ords_combined using product_id as a key

df_merged = df_ords_combined.merge(df_prods, on = 'product_id', how = 'inner', indicator = 'exists')

In [29]:
df_merged.shape

(32404859, 18)

In [30]:
df_merged.head(5)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [31]:
df_merged['exists'].value_counts()

both          32404859
left_only            0
right_only           0
Name: exists, dtype: int64

In [32]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl' ))